<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free money </title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
    <!-- TODO User should be able to submit data -->
    <section class="content">

        <br>
        <br>
        <br>
            <form method="POST" action="/submit">
                <label for="email">ENTER YOUR EMAIL    <br>
                    <br> AND YOU WILL BE ON YOUR WAY TO     <br>
                    <br>PURE MONEY FORTUNE </label>
                <br>
                <br>
                <br>
                <br>
                <input id="email" type="email" name="email"/>
                <button input type="submit"> SUBMIT </button>
            </form>
                <form method="GET" action="/">
                    <br>
                    <br>
                    <br>
                    <br>
                <button input type="submit"> GET A RANDOM EMAIL </button>
                    <br>
                    <br>
            </form>
        <p th:text="${postemail}"></p>
    </section>
</body>
</html>
