<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Free money </title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<!-- TODO User should be able to submit data -->
<section class="content">
    <button onclick="location.href='https://finance.yahoo.com/quote/DOGE-USD?p=DOGE-USD&.tsrc=fin-srch&guce_referrer=aHR0cHM6Ly9maW5hbmNlLnlhaG9vLmNvbS8&guce_referrer_sig=AQAAAAQp4j_x-RByvm0ML7LvSxRp3jQEIkHNDz48e6nb2g9-nZixPzpoefS9dGK7mDyj5447M_a6YJK_5v0yxUpGzpVzN0A8c4AZU1CGgtf2nSM1PZR234SoxP211MzkGpquHa9yWsm1UAmFuAzSunBhf6K1OAhoX58_9udnaCrRTJ96&_guc_consent_skip=1647894426'">
    <h1>TO THE MOON🚀
    </h1>
    </button>
</section>
</body>
</html>